@import "../uqlibrary-elements/resources/theme/variables";

.open-below {
  top: 51px;
}
#apps {
  width: 320px;
  margin: 28px 0px 28px 28px;
}
.app {
  text-align: center;
  margin: 8px 2px;
}
#appsDropdown {
  right: -20px;
}

@media screen and (min-width: 400px) {
  #apps {
    width: 100%;
    margin: 0;
  }
}
