@import "../uqlibrary-elements/resources/theme/variables";

#apps {
  width: 320px;
  margin: 28px 0px 28px 28px;
}
.app {
  text-align: center;
  margin: 8px 2px;
}

@media screen and (max-width: 420px) {
  #apps {
    width: 100%;
    margin: 0;
  }
}
