@import "../uqlibrary-elements/resources/theme/variables";

#apps {
  width: 320px;
  margin: $menu-margin;
}
.app {
  text-align: center;
  margin: $base-unit ($base-unit/4);
}
.open-below {
  top: $toolbar-height;
}
@media screen and (max-width: 420px) {
  #apps {
    width: $full-width;
    margin: 0;
  }
}